@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.conatiner {
  max-width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f2029;
  font-weight: normal;
  color: #fff;
  padding-bottom: 100px;
}

/* Common Classes */
.hide,
.hideWs,
.ShowWs {
  cursor: pointer;
  display: none;
  /* Consider removing if not used */
}

.ShowWs {
  display: block;
}

.space {
  height: 80px;
  width: 100%;
  background-color: #f2f2f21b;
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.row {
  display: grid;
  align-items: start;
  gap: 20px;
}

/* Dropdown CSS */
.dropdown {
  display: none;
}

.dropdown.active {
  display: block;
}

/* Table CSS */
table.table td {
  padding: 10px;
}

button {
  background-color: #fff;
  color: #1f2029;
  border-radius: 8px;
  padding: 6px 10px;
  text-transform: capitalize;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 40px;
  height: 20px;
}

.row-table.active {
  background-color: #f2f2f21c;
}

/* Menu CSS */
.overlay,
.custom-menu {
  position: fixed;
  top: 0;
  z-index: 11px;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.active.overlay {
  opacity: 1;
  visibility: visible;
}

.custom-menu {
  background: #fff;
  width: 250px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}


.top-side {
  transform: translateY(-100%);
  margin: 0 auto;
  width: 100%;
}

.active.top-side {
  transform: translateY(0%);
}

.left-side {
  transform: translatex(-250px);
  left: 0;
}

.active.left-side {
  transform: translatex(0px);
}

.right-side {
  transform: translateX(251px);
  right: 0;
}

.active.right-side {
  transform: translateX(0);
}

.custom-menu ul li {
  list-style: none;
}

.custom-menu ul li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
}

.btn-close {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #1f2029;
  border-radius: 100px;
}


/* select-dropdown */
.custom-select {
  position: relative;
  width: 200px;
  margin: 20px;
}

.selectlabel {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.placeholder {
  margin-right: 10px;
  color: #fff;
}

.selected {
  flex-grow: 1;
}

.close {
  cursor: pointer;
  color: #ff0000;
}

#selectDropDown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#selectDropDown li {
  background-color: #fff;
}

#selectDropDown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

#selectDropDown a:hover {
  background-color: #f2f2f2;
}

.hide {
  display: none;
}

.custom-select li {
  list-style: none;
}

.custom-select li a {
  text-decoration: none;
  color: #fff;
}

.custom-select label {
  cursor: pointer;
}

.custom-select .selectlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-select #selectDropDown {
  display: none;
}

.custom-select #selectDropDown.active {
  display: block;
}

.custom-select .close {
  display: none;
  cursor: pointer;
}

.custom-select .close.active {
  display: block;
}

.placeholder.hidden {
  display: none;
}

.selectted.hidden {
  display: none;
}